a:link, a:visited {
    color: #a2daff;
    text-decoration: none;
}

a:hover, a:active {
    color: #a2daff;
    text-decoration: underline;
}

html, body {
    background-color: #000;
    font-family: "Menlo","Monaco","Lucida Console","Liberation Mono","DejaVu Sans Mono","Bitstream Vera Sans Mono","Courier","New","monospace","serif";
    image-rendering: -webkit-optimize-contrast;
    overflow: hidden;
}

p, ul, li {
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    line-height: 1.4;
}

ul {
    list-style-type: square;
}

li {
    list-style-position: inside;
}

.oc {
    height: 700px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    animation: float 20s cubic-bezier(0.28, 0.84, 0.42, 1) infinite;
    will-change: transform;
    image-rendering: auto;
    filter: drop-shadow(0 10px 10px rgba(0,0,0,0.2));
}

.logo {
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.col {
    padding: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 452px;
    word-wrap: break-word;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(-10px) rotate(-3deg);
  }
  50% {
    transform: translateY(0px) rotate(3deg);
  }
  75% {
    transform: translateY(-15px) rotate(-1.5deg);
  }
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: white;
    border-radius: 50%;
}
